table {
    border-collapse: separate;
    border-spacing: 10px;
  }
  
  td, th {
    padding: 10px;
    border: 1px solid black;
  }
  
  .order {
    background-color: #f2f2f2;
  }

  Button {
    padding: 12px 0;
    background-color: #1976d2;
    border-radius: 20px;
    width: 50px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
      margin-right: .5rem;
    color: white;
    max-width: 10px;
    min-width: 30px;  
  }
  
  